<section fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2%">
  
  <div class="dia">
    <app-radar-details [day]="day[0]"></app-radar-details>
  </div>

  <div class="dia">
    <app-radar-details [day]="day[1]"></app-radar-details>
  </div>
  
  <div class="dia">
    <app-radar-details [day]="day[2]"></app-radar-details>
  </div>
  
  <div class="dia">
    <app-radar-details [day]="day[3]"></app-radar-details>
  </div>
  
  <div class="dia">
    <app-radar-details [day]="day[4]"></app-radar-details>
  </div>
  
  <div class="dia">
    <app-radar-details [day]="day[5]"></app-radar-details>
  </div>
  
  <div class="dia">
    <app-radar-details [day]="day[6]"></app-radar-details>
  </div>

</section>